#anketa {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.respondent {
  position: relative;
  float: left;
  width: 180px;
  height: 260px;
  padding: 0px 5px 0px 5px;
  margin: 5px 5px 5px 5px;
  border-bottom: thin dotted lightgrey;
}

.vybrany {
  background-color: #F0F0F0;
}

.neodpovedel.vybrany {
  background-color: #FFFFFF;
}

p.jmeno {
  color: black;
  text-align: center;
  margin-bottom: 7px;
}

p.veta {
  font-size: 80%;
  color: black;
  margin-top: 0px;
  text-align: center;
}

img.portret {
  width: 100px;
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

div.cedulka {
  width: 180px;
  text-align: center;
  background-color: #606060;
  color: white;
  margin: 0px 0px 0px -5px;
  padding: 2px 0px 2px 0px;
  z-index: 10;
  position: absolute;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}